<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">

        <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
        <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://haydy-a390.github.io/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/projects/">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/Orbit-Theme-Testing/">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>



<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-151499289-1', 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>